.image-container {
    width: 150px;
    height: 150px;

    &.fade {
        opacity: 0;
        transition: opacity 1s;
    }

    &.expand {
        width: 300px;
        transition: width 1s;
    }

    > * {
        width: 100%;
        height: 100%;
        border-radius: 30%;
    }

    > img {
        aspect-ratio: 1/1;
    }

    > div {
        background-color: rgb(172, 172, 172);
        color: #fff;
        text-align: center;
    }
}